// Heading Color
$heading-color: #1b1b1b;

// Text Color
$text-color: #5a5a5a;

// Default Background
$bg-default: #ac8a74;

// Gray Background
$bg-gray: #eff4f6;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #1b1b1b;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #ac8a74;

// Footer Color
$footer-color: #2d2d2d;